#myApp{
	width: 100%;
}
td.day {
    font-size: 2.2rem;
}
.table-condensed, .datepicker-inline {
    width: 100%;
}
.datepicker table tr td span{
    height: 104px;
    line-height: 104px;
}
td, tr{
    border: solid #eeeeee 1px !important;
}
.input-group-addon{
	border-radius: 0px !important;
	border: none !important;
}

.voyage_item{
    display: block !important;
    margin-bottom: 15px;
    border-bottom: 1px solid #e9e9e9;
    padding: 10px;
}
.places_container{
	padding: 15px;
    font-size: 22px;
    margin: 0px;
    padding-left: 15px;

}
#header{
	padding: 15px;
	display: flex;
}
.form-item {
    border-radius: 0px !important;
    border: none;
}
.places_container .result-row {

    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 15px;
}
.flat-btn{
	border: none !important;
 	border-radius: 0px !important;
    font-size: 1.5rem !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.table-condensed, .datepicker-inline {
    width: 100%;
    text-align: center;
}
.form-section{
	margin-bottom: 15px;
    margin: 15px;
    width: 20%;
}
span.month, span.year {
    /* display: inline-block; */
    /* padding: 30px; */
    width: 33.333333333333336%;
    float: left;
    text-align: center;
    height: 60px !important;
    line-height: 60px !important;
    text-transform: uppercase;
}
.form-control{
	border-radius: 0px !important;
	box-shadow: none !important;
	border: 0px !important ;
	border-bottom:  1px solid #337ab7 !important;
    width: 100%;
    height: 50px;
    background: transparent;
    font-size: 20px;
}
select{
	-webkit-appearance: none;
}
.left-panel{
	border-right: 1px solid #afafaf;
}
.place_item{
    margin-bottom: 3px;
    padding: 10px;
    background: #e7e7e7;
}
.input-group-addon{
	background-color: #337ab7 !important;
	color: #fff !important;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover, .datepicker table tr td.active.disabled,.datepicker table tr td.active.disabled:hover {
background: #337ab7  !important;
border-radius: 0px  !important;
color: #fff !important;
}
td.day {
font-size: inherit;
color: #6b6b6b  !important;
}
tr td.new {
color: #ccc  !important;
}
.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
padding: 9px  !important;
}
td, tr {
border: solid #eeeeee 0px !important;
}
.dropdown-menu {
	position: absolute  ;
	top: 100% ;
	left: 0 ;
	z-index: 1000 ;
	display: none ;
	float: left ;
	min-width: 160px ;
	padding: 5px 0 ;
	margin: 2px 0 0 ;
	font-size: 14px ;
	text-align: left ;
	list-style: none ;
	background-color: #fff ;
	-webkit-background-clip: padding-box ;
	background-clip: padding-box ;
	border: 1px solid rgba(0,0,0,.15) ;
	border-radius: 0px ;
	box-shadow: none;
}
.datepicker table tr td.day:hover, .datepicker table tr td.day.focused {
	background: #eee;
	cursor: pointer;
	border-radius: 0px;
}
.voyage_info{
	padding: 5px;
  display: block;
}
.voyage_infos{
  display: block;
}
.voyage_icon{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	color: #337ab7;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 10px;
}
.form-section:first{
	padding-left: 0;
}
.gender .fa {
	margin-right: 10px;
}
.nb_places_libres{
	color: #337ab7;
}

.btn-search a {
    text-decoration: none;
    color: #000;
}

.btn-search {
    justify-content: center;
    align-items: center;
    display: flex;
}
  div#loaders {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
  }
  .alert-info{
    text-align: center;
    background: #ffa4a4;
    padding: 30px 0px;
    margin: 0;
    color: #000;
  }
